<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Movie Recommender</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container-sm">
        <h1>IMDB Movie Recommender</h1>
        <form action="/" method="post">
            <div class="form-group">
                <input type="url" class="form-control" name="ratings-url" id="ratings-url" placeholder="Enter your IMDB ratings URL"
                    required="required">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#staticBackdrop">
            How can I find my ratings URL?
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
            role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">How can I find my ratings URL?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>1. Log in to your IMDB account</h3>
                        <img src="/static/img-1.jpg" alt="img-1">
                        <h3>2. Copy your ratings link</h3>
                        <img src="/static/img-2.jpg" alt="img-2" , style="width: 450px;">
                        <h5 style="color: red;">Make sure the watchlist is publicly visible</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <em><a href="https://github.com/cemanaral" target="_blank">Cem Anaral</a></em>

        {% if results %}
        <br>
        <div class="list-group">
            {% for score, imdbID in results.items() %}
                <a href="https://www.imdb.com/title/tt{{ imdbID }}/" target="_blank" class="list-group-item list-group-item-action">{{loop.index}} - {{ movie_names[imdbID] }}</a>
            {% endfor %}
        </div>
        <br>
        {% endif %}

    </div>
</body>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>

</html>